
$pink: #ee82ee;
$red: red;
$highlightColor: #f2a200;


$lightsteelblue:lightsteelblue;
$myBlue: steelblue;
$blue: #1976d2;
$blue1: #125699;
$linePath: #407080;


$myGreen: green;


$grey: #635f5d;
$grey1: #8e8883;
$grey2: #333;
$grey3: #888;
$grey4: rgb(105, 103, 103);
$grey5: #24292e;
$grey6: #666;
$grey7:#999;
$greyOpacity35: rgba(27, 31, 35, 0.35);


$white: #1f1515;
$white1: #c0c0bb;
$white2: #e4e8eb;
$white3: #fafafa;
$white4: #eee;
$white5: #c2c3c4;
$white6: #fafbfc;
$white7: #eff3f6;
$white8: #f0f3f6;
$white9: #e6ebf1;
$white10: #ddd;
$white11: #ccc;


$black: rgb(0, 0, 0);
$black1: rgb(15, 15, 16);
$black2: rgb(58, 58, 58);
$blackOpacity35: rgba(0, 0, 0, 0.35);
$blackOpacity12: rgba(0, 0, 0, 0.12);
$blackOpacity24: rgba(0, 0, 0, 0.24);
$blackOpacity2: rgba(0, 0, 0, 0.2);
